<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complete your SurgicalHub account</title>
</head>
<body>
    <p>Hello {{ displayName }},</p>

    <p>Your SurgicalHub instrumentist account has been created.</p>

    <p>Please complete your account using the invitation link below:</p>

    <p>
        <a href="{{ invitationUrl }}">{{ invitationUrl }}</a>
    </p>

    <p>
        {% if expiresAt is not null %}
            This invitation expires on {{ expiresAt|date('d/m/Y H:i') }}.
        {% else %}
            This invitation expires in 48 hours.
        {% endif %}
    </p>

    <p>If you were not expecting this email, you can ignore it.</p>

    <p>SurgicalHub</p>
</body>
</html>